{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="p-5 bg-gradient">
  <h1 class="display-3"> RatingStars s2</h1>
  <p class="lead">Personal study project about flask and python.</p>
  <hr class="my-2">
  <h2 class="display-4">Learned Skills</h2>
  <ul>
    <li>Python</li>
    <li>GitFlow</li>
    <li>Heroku</li>
    <li>Flask</li>
    <li>Flask-Admin</li>
    <li>Flask-CKEditor</li>
    <li>Flask-Login</li>
    <li>Flask-Migrate</li>
    <li>Flask-SQLAlchemy</li>
    <li>Flask-WTF</li>
  </ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/adrianomqsmts/blog-flask" role="button">Github Repository</a>
  </p>
</div>
{% endblock content %}

