{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ 'primary' if category=='message' else category if category else 'primary' }} alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <strong>{{message}}</strong>
</div>
{% endfor %}
<div class="card border-primary text-dark">
  <div class="card-body">
    <div class='container'>
      <div class='row'>
        <div class='col-2'>
          <div id="wrapper">
            <img class="img-fluid profile-pic rounded-circle border-dark" src="{{ url_for('static', filename='images/' + (current_user.profile_pic if current_user.profile_pic else 'profile.png')) }}" alt="Profile Pic">
            <a href="{{ url_for('userbp.pic_update') }}" class="a-text">
              <div class="text text-center center h-100 w-100">Update Image</div>
            </a>
          </div>
          </a>
        </div>
        <div class='col-8'>
          <p class="card-title display-5  text-center">{{current_user.name}}
          <p>
          <p class="lead">{{ current_user.about | safe}}</p>
        </div>
        <div class='col-2 text-right'>
          <a href="{{ url_for('userbp.update') }}" class="btn btn-primary w-100"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
  </div>
  <hr><br>
  <div class="center">
    <a class="btn w-100 text-center  btn-outline-primary" href="{{ url_for('ratebp.create') }}" role="button">New Rate</a>
  </div>
  <br>
  <br>
</div>

<hr>

{% for rate in rates_page.items %}
<div class="card text-start text-dark mb-2">
  <div class="card-body">
    <div class="row w-100">
      <div class="col-10">
        <h4 class="card-title"><a href="{{ url_for('ratebp.read', id=rate.id) }}">{{rate.title}}</a></h4>
      </div>
      <div class="col-2 d-flex">
        <a href="{{ url_for('ratebp.update', id=rate.id) }}" class="w-50 btn btn-primary"><i class="fas fa-edit"></i></a>
        <a href="{{ url_for('ratebp.delete', id=rate.id) }}" class="w-50 btn btn-danger"><i class="far fa-trash-alt"></i></a>
      </div>
    </div>
    <p class="card-text">
      {% for i in range(rate.rate) %}
      <span class="fa fa-star checked"></span>
      {% endfor %}
      {% for i in range(5-rate.rate) %}
      <span class="fa fa-star"></span>
      {% endfor %} | {{ rate.rate_type.value }} | {{rate.date_posted.strftime('%Y-%m-%d')}}
    </p>
    <hr>
    <div class="row">
      <div class="col-2">
        <img class="img-fluid rate-pic border-dark" src="{{ url_for('static', filename='images/' + (rate.rate_pic if rate.rate_pic else 'star.png')) }}" alt="Rate Pic">

      </div>
      <div class="col-10">
        <p class="card-text">{{rate.content|safe}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if rates_page.page == 1 %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('ratebp.dashboard', page=rates_page.prev_num) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="visually-hidden">Previous</span>
      </a>
    </li>
    {% for page in range(rates_page.pages) %}
    <li class="page-item {% if rates_page.page == (page+1) %}active{% endif %}">
      <a class="page-link" href="{{ url_for('ratebp.dashboard', page=(page+1)) }}">{{page+1}}</a>
      </li>
    {% endfor %}
    <li class="page-item {% if rates_page.page == rates_page.pages %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('ratebp.dashboard', page=rates_page.next_num) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="visually-hidden">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock content %}
