{% extends 'base.html' %}

{% block title %}Update User{% endblock title %}

{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ 'primary' if category=='message' else category if category else 'primary' }} alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <strong>{{message}}</strong>
</div>
{% endfor %}

<div class="div-center2">
  <div class="register-form">
    <div class="card text-start">
      <div class="card-body text-dark">
        <h4 class="card-title text-center">Update</h4>
        <hr>
        <form action="" method="POST" enctype="multipart/form-data">
          {{form.hidden_tag()}}

          {{form.name.label(class="form-label")}}:
          <span class="form-text text-danger">
            {{form.name.errors[0]}}
          </span>
          {{form.name(class="form-text form-control", value=current_user.name)}}

          {{form.username.label(class="form-label")}}:
          <span class="form-text text-danger">
            {{form.name.errors[0]}}
          </span>
          {{form.username(class="form-text form-control", value=current_user.username)}}

          {{form.about.label(class="form-label")}}:
          <span class="form-text text-danger">
            {{form.about.errors[0]}}
          </span>
          {{form.about(class=" form-control")}}
          <br>
          {{form.submit(class="btn btn-primary w-100")}}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name = 'content', showWordCount = True) }}
      </div>
    </div>
  </div>
</div>


{% endblock content %}
