{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<div class="p-5 bg-light">
  <h1 class="display-3">Admin Page</h1>
  <p class="lead">Bem-vindo</p>
  <hr class="my-2">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <p class="card-text"><strong>Total: {{ context.n_user }}</strong></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Rating</h4>
        <p class="card-text"><strong>Total: {{ context.n_rate }}</strong></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Seasons</h4>
        <p class="card-text"><strong>Total: {{ context.n_season }}</strong></p>
      </div>
    </div>
  </div>

</div>
{% endblock body %}
